* {
	font-family: "Trebuchet MS", Helvetica, Arial, San-serif;
	font-size: 12px;
	margin: 0;
	padding: 0;
}

body {
	background-color: #222;
	width: 1000px;
	margin: 0 auto;
}

.menu {
	/* fallback */ 
	background-color: #2F2727; 
	background-image: url(images/radial_bg.png); 
	background-position: center center; 
	background-repeat: no-repeat; 
	/* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */ 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); 
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); 
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727); 
	/* IE 10 */ 
	background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
	
	position: absolute;
	/*background: rgba(0,48,255,0.9);*/
	color: #fff;
	height: 100px;
	width: 180px;
	border-radius: 90px;
	-moz-border-radius: 90px;
	-webkit-border-radius: 90px;
	margin-left: 400px;
	top: 200px;
	text-align: center;
	text-shadow: 2px 2px 2px #000;
	padding-top: 80px;
	font-weight: bold;
	font-size: 14px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
	
	-moz-transition: all 1000ms ease;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	transition: all 1000ms ease;
	
	-moz-animation-name: glow;
	-moz-animation-duration: .8s;
	-moz-animation-iteration-count: infinite;
	-moz-animation-timing-function: linear;
	-moz-animation-direction: alternate;
	
	-webkit-animation-name: glow;
	-webkit-animation-duration: .8s;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	-webkit-animation-direction: alternate;
}
.submenu {
	/* fallback */ 
	background-color: rgba(0,48,255,0.9); 
	background-image: url(images/radial_bg.png); 
	background-position: center center; 
	background-repeat: no-repeat; 
	/* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */ 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#1a82f7), to(#2F2727)); 
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(circle, #1a82f7, #2F2727); 
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #1a82f7, #2F2727); 
	/* IE 10 */ 
	background: -ms-radial-gradient(circle, #1a82f7, #2F2727);
	
	display: none;
	position: absolute;
	/*background: rgba(0,48,255,0.9);*/
	height: 60px;
	width: 100px;
	border-radius: 50px;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	padding-top: 40px;
	font-size: 12px;
	-moz-box-shadow: 0 0 5px 5px #888;
	-webkit-box-shadow: 0 0 5px 5px#888;
	box-shadow: 0 0 5px 5px #888;
}
.menu a,
.submenu a {
	color: #fff;
	text-decoration: none;
}
.menu a:hover,
.submenu a:hover {
	font-size: 15px;
}
.menu:hover {
	background-color: #2F2727; /*rgba(0,48,255,0.9);*/
	/* Safari 4-5, Chrome 1-9 */ /* Can't specify a percentage size? Laaaaaame. */ 
	background: -webkit-gradient(radial, center center, 0, center center, 460, from(#2F2727), to(#1a82f7)); 
	/* Safari 5.1+, Chrome 10+ */ 
	background: -webkit-radial-gradient(circle, #2F2727, #1a82f7); 
	/* Firefox 3.6+ */ 
	background: -moz-radial-gradient(circle, #2F2727, #1a82f7); 
	/* IE 10 */ 
	background: -ms-radial-gradient(circle, #2F2727, #1a82f7);
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
	-moz-transition: all 1000ms ease;
	-webkit-transition: all 1000ms ease;
	-o-transition: all 1000ms ease;
	-ms-transition: all 1000ms ease;
	transition: all 1000ms ease;
}
.menu:hover > .submenu {
	display: block;
	-moz-animation: appear 1000ms normal 1 ease;
	-webkit-animation: appear 1000ms normal 1 ease;
	-o-animation: appear 1000ms normal 1 ease;
	-ms-animation: appear 1000ms normal 1 ease;
	animation: appear 1000ms normal 1 ease;
}
@-moz-keyframes appear {
	from { 
		-moz-transform: scale(0); 
		background: rgba(0,0,0,1); 
	}
	to { 
		-moz-transform: scale(1); 
		background: rgba(0,48,255,0.9); 
	}
}
@-webkit-keyframes appear {
	from { 
		-webkit-transform: scale(0); 
	}
	to { 
		-webkit-transform: scale(1);
	}
}
@-o-keyframes appear {
	from { 
		-o-transform: scale(0); 
		background: rgba(0,0,0,1); 
	}
	to { 
		-o-transform: scale(1); 
		background: rgba(0,48,255,0.9); 
	}
}
@-ms-keyframes appear {
	from { 
		-ms-transform: scale(0); 
		background: rgba(0,0,0,1); 
	}
	to { 
		-ms-transform: scale(1); 
		background: rgba(0,48,255,0.9); 
	}
}
@keyframes appear {
	from { 
		transform: scale(0); 
		background: rgba(0,0,0,1); 
	}
	to { 
		transform: scale(1); 
		background: rgba(0,48,255,0.9); 
	}
}

@-moz-keyframes glow {
	from { 
		box-shadow: 0 0 5px 5px #888;
		-moz-box-shadow: 0 0 5px 5px #888;
	}
	to   { 
		box-shadow: 0 0 5px 5px #666;
		-moz-box-shadow: 0 0 5px 5px #666;
	}
}
@-webkit-keyframes glow {
	from {
		-webkit-box-shadow: 0 0 5px 5px #888;
	}
	to   {
		-webkit-box-shadow: 0 0 5px 5px #666;
	}
}
@-o-keyframes glow {
	from { 
		-o-box-shadow: 0 0 5px 5px #888;
	}
	to   { 
		-o-box-shadow: 0 0 5px 5px #666;
	}
}
@-ms-keyframes glow {
	from {
		-ms-box-shadow: 0 0 5px 5px #888;
	}
	to   {
		-ms-box-shadow: 0 0 5px 5px #666;
	}
}
@keyframes glow {
	from { 
		box-shadow: 0 0 5px 5px #888;
	}
	to   { 
		box-shadow: 0 0 5px 5px #666;
	}
}
.m1 { margin-left: -20px; margin-top: -157px; }
.m2 { margin-left: 100px; margin-top: -157px; }
.m3 { margin-left: -80px; margin-top: -53px; }
.m4 { margin-left: 100px; margin-top: 46px; }
.m5 { margin-left: -20px; margin-top: 46px; }
.m6 { margin-left: 160px; margin-top: -53px; }
